/* .App {
  padding: 20px;
}

.App header {
  text-align: center;
  margin-bottom: 20px;
} */

/* :root {
  --cream: #f0f3bd;
  --mint: #02c39a;
  --persian-green: #00a896;
  --teal: #028090;
  --lapis-lazuli: #05668d;
  --dark-teal: #001a1d;
} */